<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Is now the time to talk about gun control?</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="static/css/normalize.css">
		<link rel="stylesheet" href="static/css/main.css?version=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

		<meta property="og:title" content="Is now the time to talk about gun control?">
		<meta property="og:image" content="{{ og_image_url }}">
		<meta property="og:description" content="It can be hard to know the right time to talk about gun control. Check whether that time is now!">
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<h1>Is now the time to talk about gun control?</h1>

		<div id="jumbo">
			YES.

			<p id="jumbo-footer">
				Last checked {{ date }} at {{ time }}
				<a class="button" href="/">What about now?</a>
			</p>
		</div>

		<div class="content" id="post-jumbo-footer">
			<p>Last checked {{ date }} at {{ time }}</p>
			<p><a class="button" href="/">What about now?</a></p>
		</div>

		<div class="content">
			<h2 class='m-b-half'>Read more</h2>

			<ul class='m-t-half'>
				<li>
					<a href="http://inthesetimes.com/article/20566/america-wasnt-a-gun-loving-country-until-a-13.5-billion-industry-made-it-so">
						America wasn't a &ldquo;Gun-Loving Country&rdquo; Until a $13.5 Billion Industry Made It So
					</a>
				</li>
				<li>
					<a href="https://www.nytimes.com/interactive/2015/11/12/us/gun-traffickers-smuggling-state-gun-laws.html">
						How Gun Traffickers Get Around State Gun Laws
					</a>
				</li>
				<li>
					<a href="http://inthesetimes.com/article/18883/gun-control-on-the-frontier">
						How to Pass Gun Control in the Sixth-Most-Gun-Owning State In America
					</a>
				</li>
				<li>
					<a href="https://www.washingtonpost.com/graphics/national/gun-legislation/">
						Do your Congress members support stricter gun control?
					</a>
				</li>
				<li>
					<a href="https://www.bustle.com/articles/166405-how-to-donate-to-gun-control-organizations-working-to-put-an-end-to-the-violence">
						How To Donate To Gun Control Organizations Working To Put An End To The Violence
					</a>
				</li>
			</ul>

			<p>Made with care by <a href="https://littleweaverweb.com">Little Weaver Web Collective</a></p>
		</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script>
	</body>
</html>
